<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NodeJs Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Hello <%= user %></h1>
    <form method="post" action="/">
        <label>
            <input type="text" name="username"/>
        </label>
        <button type="submit">send</button>
    </form>
</body>
</html>